@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@700&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

::selection {
  background-color: #4a706880;
  color: rgb(255, 255, 255);
}

body {
  font-family: "Raleway", 400;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: rgb(0, 0, 0);
  background-color: #70a79b;
}
h1 {
  font-size: 3.05em;
  margin-bottom: 50px;
  
}
h2{
  font-size: 2em;
  font-weight: 400;
}

mark {
  background-color: rgb(0, 0, 0);
  color: white;
}

/******  FullScreen HG  ******/
section.pic{
  background: url(pictures/SwissRe.jpg) no-repeat center center fixed;

  background-size: cover;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 200px 0 100px 0;
}


/* Scroll-Down Container */
.scroll-down {
  width: 40px;
  height: 40px;
  border: 2px solid rgb(234, 255, 243);
  border-radius: 50%;
  animation: bounce 2s infinite 1s;
  transform: scale(1);
}

/* Scroll-Down Icon (>) */
.scroll-down:before {
  position: absolute;
  top: calc(50% - 10px);
  left: calc(50% - 6.8px);
  width: 12px;
  height: 12px;
  transform: rotate(-45deg);
  content: "";
  border: 2px solid rgb(234, 255, 243);
  border-width: 0px 0 2px 2px;
}

/* Scroll-Down Animation */
@keyframes bounce {
  20%,
  50%,
  80% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}

/* HEADER */
header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 50px;
  background-color: #4a7169;
  text-decoration: none;
  z-index: 9999;
}


/* Navigation */


nav#mainNav li {
  display: inline-block;
  margin: 0 18px;
}
nav#mainNav a,
nav#hamburgerNav a {
  font-family: "Dongle";
  text-decoration: none;
  color: #eee;
  font-size: 1.5em;
  font-weight: bold;
}
nav#mainNav a:hover,
nav#hamburgerNav a:hover {
    color: rgb(182, 182, 182);
    transition: 1s;
  }


/* Hamburger Icon */
#hamburgerIcon {
  display: none; /* Das Icon wird nicht angezeigt */
  font-size: 3em;
  cursor: pointer;
  color: #fff;
}

/* Hamburger Navigation */
nav#hamburgerNav {
  position: fixed;
  height: 100%;
  width: 0; /* Hat eine Breite von 0, wird also nicht angezeigt */
  top: 0;
  right: 0;
  padding-top: 110px;
  overflow-x: hidden;
  transition: 0.5s;
  background-color: #4a7169;
}

nav#hamburgerNav ul {
  list-style: none;
  line-height: 3;
  font-size: 1.5em !important;
}

nav#hamburgerNav .closebtn {
  position: absolute;
  top: 0px;
  right: 55px;
  font-size: 5em;
}

nav#hamburgerNav .closebtn:hover {
  border: none;
  padding: 0;
}

/******  Main-Container  ******/
main {
  display: flex;
  flex-direction: column;
  padding: 15%;
  color: #333;
}

/******  Footer-Container  ******/
footer {
  padding: 15px 50px;
  background-color:#4a7169;
  color: #FFFFFF;
  font-size: 0.75em;
  font-weight: 400;
  justify-content: space-between;

}


/* CSS Regeln verändern sich, wenn der Bilschirm kleiner als 950px in der Breite ist: 
   Die Main-Navigation wird ausgeblendet und das Hamburger-Icon eingeblendet. */


.firsttitlee{
  color: rgb(255, 255, 255);
  text-shadow: 10px 10px 20px rgb(0, 0, 0);
  font-size: 8em;
  font-family: "Dongle";
  margin-top: -100px;
}


#back{
    background-color: rgb(255, 255, 255);
}
.containerlink {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75vh;
  width: 100vw;
}

a.linklogo{
  color: white;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}
a.linklogo:hover{
  color: #1b4205;
  font-size: 1.1em;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #142e05;
  text-shadow: 0px 0px 5px #FFF;
}



nav.logonav{
  display: flex;
  justify-content: flex-start;
}


.current{
  color: #ffffff;
  border-bottom: 4px solid #ffffff;
  padding: 1.5px 0;
}

p{
  font-family:"Raleway";
  font-weight: 400;
  color: rgb(255, 255, 255);
}

.contact{
  text-decoration: none;
  color: #fff;
  font-family:"Raleway";
  font-size: 0.75em;
  font-weight: 400;
}

li{
  text-decoration: none;
}

section.secondsection{
  background: url(pictures/Marketing2.jpg) no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 200px 0 100px 0;
}

section.thirdsection{
  background: url(pictures/Illustraton.jpg) no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 200px 0 100px 0;
}

.class{
  font-family: "Raleway";
  color: #FFFFFF;
  font-weight: 100;
  font-size: 10px;
  text-decoration: none;
}

.secondtitle{
  color: rgb(255, 255, 255);
  text-shadow: 10px 10px 30px rgb(0, 0, 0);
  font-size: 2em;
  font-family: "Raleway";
  margin-top: -70px;
}

.fourthsection{
  background: url(pictures/Sketch.jpg) no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 200px 0 100px 0;
}

#logo {
  width: 75px;
  transform: scale(1);
  transition: 0.3s;
}

#logo:hover {
  transform: scale(1.1);
  transition: 0.3s;
  cursor: pointer;
}

nav#langselection a {
  text-decoration: none;
  color: #eee;
  font-size: 1.5em;
  justify-content: space-between;
}
nav#langselection a:hover {
  color: #d3d3d3;
}

li.list{
    float: left;
    padding: 10px;
    list-style: none;
    font-family: "Dongle";
    color: #fff;
}

li.list2{
  float: left;
  padding: 20px;
  padding: 10px;
  list-style: none;
  font-family: "Dongle";
  color: #fff;
}

ul.ul2{
  width: 100px;
     margin: 0 auto;
     padding: 0;
}

.titlefortitle{
  color: rgb(255, 255, 255);
  text-shadow: 10px 10px 10px rgb(0, 0, 0);
  font-size: 8em;
  font-family: "Dongle";
  margin-top: -90px;
}

.fifthsection{
  background: url(pictures/freiearbeit.jpg) no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 200px 0 100px 0;
}

.typed-out{
  overflow: hidden;
  border-right: .05em solid rgb(158, 158, 158);
  white-space: nowrap;
  font-size: 3.05em;
  width: 0;
  animation: 
    typing 4s steps(80, end) forwards,
    blink .8s infinite;
}
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink {
  from { border-color: transparent }
  to { border-color: rgb(29, 29, 29); }
}

.img-fit {
  width: 300px;
  object-fit: cover;
  height: 300px;
  transform: scale(1);
  float: right;
  border-radius: 20%;
  filter: grayscale(100%);
}

.img-fit:hover{
  filter: grayscale(0%);
}

.img-fitright {
  width: 300px;
  object-fit: cover;
  height: 300px;
  transform: scale(1);
  border-radius: 20%;
  display: flex;
  filter: grayscale(100%);
}

.img-fitright:hover{
  filter: grayscale(0%);
}


main#content section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 15px 30px;
  margin: 15px 0;
  color: #fff;
}
main#content section img {
 width: 400px;
 height: 400px;
 margin-right: 75px;
}

main#content div h2, main#content div p{
  text-align: left !important;
}

main#content section.lefttoright{
  flex-direction: row-reverse;
}

main#content section.lefttoright img{
  margin-left: 75px;
}

h2.title {
  font-size: 2em;
  font-weight: 700;
  font-size: 2em;
  font-family: "Raleway";
  color: black;
}

p.text{
  color: black;
  font-family: "Raleway";
  font-weight: 400;
}


@media screen and (max-width: 950px) {
  nav#mainNav ul {
    display: none;
  }
  nav#langselection{
    display: none;
  }
  #hamburgerIcon {
    display: block;
  }

  main#content section{
    flex-direction: column;}

  main#content section.lefttoright{
    flex-direction: column;
  }

  h2.title {
    font-size: 2em;
    font-weight: 700;
    font-size: 2em;
    font-family: "Raleway";
    color: black;
    text-align: center;
  }
  
  p.text{
    color: black;
    font-family: "Raleway";
    font-weight: 400;
    text-align: center;
  }
  
}

.bg {
  animation:slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-45deg, #4a7169 50%, #fff 50%);
  bottom:0;
  left:-50%;
  opacity:.5;
  position:fixed;
  right:-50%;
  top:0;
  z-index:-1;
}
.bg2 {
  animation-direction:alternate-reverse;
  animation-duration:4s;
}
.bg3 {
  animation-duration:5s;
}
@keyframes slide {
  0% {
    transform:translateX(-25%);
  }
  100% {
    transform:translateX(25%);
  }
}