@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video 

{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: top;
    font-size: 1em;
    line-height: 1.5em;
    color: rgba(0, 0, 0, 1.0);
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
}



h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 3em;
    color: #000000;
    font-weight: 900;
    margin: 0 0 20px 0;
    text-align: center;
}


h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 1.5em;
    color: #000000;
    font-weight: 600;
    margin: 0 0 40px 0;
}

h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 1.5em;
    color: #000000;
    font-weight: bold;
    margin: 30px 0 0 0;
    text-align: center;
}

h4 {
    font-family: 'Poppins', sans-serif;
    font-size: 1em;
    color: #000000;
    text-align: center;
}

h5 {
    font-family: 'Poppins', sans-serif;
    font-size: 1.15em;
    color: #004d37;
    font-weight: bold;
    text-align: center;
}

h6 {
    font-family: 'Poppins', sans-serif;
    font-size: 1.5em;
    color: #000000;
    font-weight: bold;
    margin: 30px 0 0 0;
    text-align: left;
}

p { 
    margin: 0 0 40px 0;
}

header {
    width: calc(100% - 80px);
    height: 40px;
    padding: 40px 40px 30px 40px;
    background-color: #000000;
    display: flex;
    justify-content: space-between;
    
}

.logo {
    font-family: 'Poppins', sans-serif;
    font-size: 2.25em;
    font-weight: 900;
    text-decoration: none;
    color: white;
    margin-top: -10px;
}

.logoblack {
    font-family: 'Poppins', sans-serif;
    font-size: 2.75em;
    font-weight: 900;
    text-decoration: none;
    color: #004d37;
    margin-top: 50px;
    text-align: center;
}


.logo:hover{
    color: #195e4b ;
    transition: 1s;
}

nav {
    color: #FFFFFF;
    font-size: 1.15em;
    font-weight: 100;

}

nav a {
    color: #FFFFFF;
    text-decoration: none;
}

nav a:hover {
    color: #6f9b8f;
    transition: 0.5s;
}


main {
    width: 100%;
    color: #FFFFFF;
    min-height: 800px;
}

section {
    margin: 40px 40px 0 40px;
    display: flex;
    justify-content: space-between;
}

@media only screen and (max-width: 680px) {
  section  {
    flex-direction: column;}
  }



article {
    width: 100%;
    padding-bottom: 25px;
    margin: 0 10px 0 10px;
}

.article2  {
    width: 50%;
    padding-bottom: 25px;
}

@media only screen and (max-width: 680px) {
  article  {
    width: 100%;}
  }



footer {
    width: calc(100% - 80px);
    padding: 40px 40px 40px 40px;
    background-color: #000000;
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    text-align:center;
    font-size: 0.75em;
    font-weight: 400;
}


footer a:hover {
    color: #8a8a8a;
    transition: 1s;
}

* {
    margin: 0;
    padding: 0;
  }

  #back{
      background-color: rgb(36, 36, 36);
  }

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh;
    width: 100vw;
  }

    nav li{
        display: inline-block;
    }

/* Hamburger Icon */
#hamburgerIcon {
    display: none; /* Das Icon wird nicht angezeigt */
    font-size: 3em;
    cursor: pointer;
    color: #fff;
    position: relative;
    top: -22px;
    float: right;
}

/* Hamburger Navigation */
nav#hamburgerNav {
    position: fixed;
    height: 100%;
    width: 0; /* Hat eine Breite von 0, wird also nicht angezeigt */
    top: 0;
    right: 0;
    overflow-x: hidden;
    transition: 0.5s;
    background-color: #004d37;
    padding-top: 110px;
}

nav#hamburgerNav ul {
    list-style: none;
    padding-left: 50px;
    line-height: 3;
    font-size: 1.25em !important;
}

nav#hamburgerNav .closebtn {
    position: absolute;
    top: 35px;
    right: 35px;
    font-size: 5em;
}

nav#hamburgerNav .closebtn:hover {
    border: none;
    padding: 0;
}


@media screen and (max-width: 950px) {
  nav#mainNav ul {
    display: none;
  }
  nav#langselection{
    display: none;
  }
  #hamburgerIcon {
    display: block;
  }

  main#content section{
    flex-direction: column;}

  main#content section.lefttoright{
    flex-direction: column;
  }
}

form {
    width: 100%;
    background-color: #b4b7b4;
    padding-top: 20px;
    padding-bottom: 50px;
    text-align: center;
}

img { 
    width: 100%;
    margin-top: 20px;
    
}

#rakete {
    width: 40%;
    display: block;
    margin: 0 auto;
    margin-top: 40px;
}